<div class="pagination">
  <% if (currentPage> 1) { %>
  <a href="?page=<%= currentPage - 1 %>">&laquo; Previous</a>
  <% } %>

  <span>Page <%= currentPage %> of <%= totalPages %></span>

  <% if (currentPage < totalPages) { %>
  <a href="?page=<%= currentPage + 1 %>">Next &raquo;</a>
  <% } %>
</div>