<div class="pagination">
  <% if (session.data.currentPage> 1) { %>
  <a href="?page=<%= session.data.currentPage - 1 %>">&laquo; Previous</a>
  <% } %>

  <span>Page <%= session.data.currentPage %> of <%= session.data.totalPages %></span>

  <% if (session.data.currentPage < session.data.totalPages) { %>
  <a href="?page=<%= session.data.currentPage + 1 %>">Next &raquo;</a>
  <% } %>
</div>